.DegreeUnitTab {
    background-color: #F7FA6C;
    color: #26252C;
    padding: 0;
    margin-top: 1.7em;
    border: solid 1px #CFA716;
    font-family: sans-serif;
}

.DegreeUnitTab button {
    background: none;
    color: inherit;
    border: none;
    padding: 0.9em;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}