.DetailsTile {
    width: 7em;
    padding: 1em 1.5em;
    text-align: center;
    background-color: #767587;
    border-radius: 30px;
}

.DetailsTile .detail {
    margin: 0.4em 0;
}

@media(max-width: 450px) {
    .DetailsTile {
        padding: 1em 0.2em;
    }
}