.App {
    margin: 3em auto;
    padding: 1em;
    border: solid 1px #464555;
    border-radius: 30px;
    max-width: 50%;
    background-color: #464555;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 20em 1fr;
}

.Search {
    width: 100%;
    grid-column: 1/3;
    grid-row: 1;
}

.Search form {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.Search input {
    grid-column: 1;
}

.Search button {
    grid-column: 2;
}

.CityAndTemperature {
    grid-column: 1;
    grid-row: 2;
}

.Details {
    grid-column: 2;
    grid-row: 2;
}

.NextDaysPrognosis {
    grid-column: 1/3;
    grid-row: 3;
}
