.App {
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 20px;
    max-width: 52%;
}

.container {
    padding: 2em 4em 2em 4em;
    border: solid 1px #464555;
    border-radius: 30px;
    max-width: 100%;
    background-color: #464555;
    display: grid;
    grid-template-columns: 2fr 20px 0.5fr;
    grid-template-rows: 0.5fr 17em 1fr;
}

.Search {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}

.Search form {
    display: flex;
}

.Search input {
    width: 100%;
}

.CityAndTemperature {
    grid-column: 1;
    grid-row: 2;
}

.Details {
    grid-column: 3;
    grid-row: 2;
}

.NextDaysPrognosis {
    grid-column: 1/4;
    grid-row: 3;
}
