.WeekDayPrognosis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WeekDayPrognosis .WeatherIcon {
}

.WeekDayPrognosis .day {
    padding: 0.7em 0;
}

.WeekDayPrognosis .temperature {

}